.scrollable{
    overflow-y: scroll;
    height: 750px ;
    width:600px ;
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(233, 232, 232);
    border-width: 2px;
    
}

.small-scrollable{
    overflow-y: scroll;
    height: 745px ;
    width:600px ;
    border-style: inset;
    border-color: rgb(233, 232, 232);
    border-width: 2px;
    
}

.padding-top{
    padding-top: 50px;
}