.footer {
	text-align: center;
	width: auto;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}
.footer .overlay{
	width: 100%;
	height: 100%;
	padding: 10px;
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 1px rgb(0, 81, 255);
  background-image: linear-gradient( 130deg, #b3d2f669 10%, #005eff62 100%);	
}

img {
    width: 10%;
    height: auto;
}