.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blue-Button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.blue-Button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.blue-Button:active {
	position:relative;
	top:1px;
}

.div-1 {
  
  background-color: rgb(45, 171, 249);
  height: 2400px;
  margin: 20px;
  
}

.div-2 {
  background-color: #ffffff;
  height: 600px;
  margin: 20px;
  border: 5px solid;
  border-color: #ffffff;
}
/* this is to house the heatmap for the landing view */
.heatmap {
  background-color: #b6d9ee;
  height: 800px;
  margin: 20px;
  border: 5px solid;
  border-color: #ffffff;
}

.divi{
  position: static;
  display : flex;
  opacity: 1;
  padding-left: 50px;

  height: 400px;
  margin: 20px;
  
}


/* div-3 is to hold the top 4 recommended suburbs. */
.div-3{
  position: static;
  padding-left:100px;
  position: static;
  width: 100%;
  
}
/* div 4 is to hold the element of top 4 recommended suburbs */
.div-4{
  padding-top: 30px;
  display:  inline-block;
  position: static;
  height: 150px;
  width: 20%;
  
  
}
/* this will contain the suburb #1 */
.suburb-1{
  margin:auto;
  height: 80%;
  width: 80%;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10% ;
  box-shadow: 3px 3px #06fa1a;

}
.suburb-1:hover {
	background:linear-gradient(to bottom, #06fa1a 5%, #06fa1a 50%);
	background-color:#06fa1a;
  opacity: 0.4;
}
.suburb-1:active {
	position:relative;
	top:1px;
}
/* this will contain the suburb #2 */
.suburb-2{
  margin:auto;
  height: 80%;
  width: 80%;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10% ;
  box-shadow: 3px 3px #0688fa;

}
.suburb-2:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #0688fa 50%);
	background-color:#0688fa;
  opacity: 0.4;
}
.suburb-2:active {
	position:relative;
	top:1px;
}
/* this will contain the suburb #3 */
.suburb-3{
  margin:auto;
  height: 80%;
  width: 80%;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10% ;
  box-shadow: 3px 3px #d106fa;

}
.suburb-3:hover {
	background:linear-gradient(to bottom, #d106fa 5%, #d106fa 50%);
	background-color:#d106fa;
  opacity: 0.4;
}
.suburb-3:active {
	position:relative;
	top:1px;
}
/* this will contain the suburb #4 */
.suburb-4{
  margin:auto;
  height: 80%;
  width: 80%;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10% ;
  box-shadow: 3px 3px #f6fa06;

}
.suburb-4:hover {
	background:linear-gradient(to bottom, #f6fa06 5%, #f6fa06 100%);
  
	background-color:#ffffff;
}
.suburb-4:active {
	position:relative;
	top:1px;
}
/* sends user tot he recommendation section */
.get-rec{
  padding-left: 150px;
  height: 250px;
  width: 400px;
  
 
}

.get-rec2{
  
  height: 250px;
  width: 400px;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10% ;
}
/*sub-flex is to use flexbox in the suburb area.*/
.sub-flex{
  padding-left: 10px;
  display: flex;
  height: 70%;
  width: 100%;
}
.graph{
  padding-left: 30px;
  display: inline-block;
}
.text-1{
  text-indent: 10px;
}

.Mid-header{
  text-align: center;
}