.App h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #0079a9;
  /* margin-bottom: 1rem; */
}
.App h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #0079a9;
  /* margin-bottom: 1rem; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0079a9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr {
  border: 20px solid #0079a9;
  width: 90%;
  margin: 0 auto;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  /* background-color: #8064A2 !important; */
  background-color: #0079a9 !important;
  color: white;
}
